[user]
	email = michaelagazzola@gmail.com
	name = Michael Gazzola
	signingkey = C69B73BC0DDA92A0
[credential]
	helper = cache --timeout 31536000
[core]
	editor = vim
[pull]
	rebase = false
[commit]
	gpgsign = true
